<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Project</title>
        <style>
            #content {
                background-color: gray;
                padding: 50px;
            }
            .box {
                background-color: aqua;
                padding: 10%;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <h1>HaHa ...</h1>
            {% block content%}
            {% endblock%}
        </div>
    </body>
</html>